*,
*:after,
*:before {
  box-sizing: border-box;
}

$duration: 16s;
//$duration: 0s;

$grey: #616a92;
$dark: #323641;
$light: lighten($grey, 15%);
$ps2blue: #006fcd;

$depth: 20vw;

$cube-inner-shadow: inset 0 0 1vw rgba(cyan, 0.07);

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: black;
  align-items: center;
  justify-content: center;
  font-family: "Play", sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.links li {
  list-style: none;
  margin: 0 1rem;
}

#openingText {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3vmin;
  text-align: center;
  z-index: 1000;
  // thick outline around text
  text-shadow: 1px 1px 1px black, -1px -1px 1px black;
  animation: fadeIn 1s ease-in-out, fadeOut 1s ease-in-out 3s forwards;
  width: 100vw;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu {
  position: absolute;
  top: -5vh;
  z-index: 1000;
  text-align: center;
  left: -10vw;
}

.menu-item:first-child {
  padding-bottom: 10px;
}

.menu-item {
  position: relative;
  display: inline-block;
  color: #545454;
  text-decoration: none;
  font-size: clamp(2rem, 2vw, 3rem);
  transition: color 0.3s ease;
  text-shadow: 1px 1px 1px rgba(black, 0.5);
  cursor: pointer;
  width: 30vw;
}

.menu-item:hover {
  color: lighten($ps2blue, 30%);
}

.container {
  width: 100%;
  position: relative;
  aspect-ratio: 16 / 9;
}

.fade-out {
  transition: opacity 1s ease-in-out;
  opacity: 0;
  height: 100%;
}

.fade-in {
  transition: opacity 1s ease-in-out;
  opacity: 1;
  height: 100%;
}
