<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
	}
.container {
  width: 100%;
  position: relative;
  aspect-ratio: 16 / 9;
}

.fade-out {
  transition: opacity 1s ease-in-out;
  opacity: 0;
  height: 100%;
}

.fade-in {
  transition: opacity 1s ease-in-out;
  opacity: 1;
  height: 100%;
}
</style>
